<head>
    <style>
        body{
            text-align:center;
        }
    </style>
</head>
<body>
<center>
<h1> Faculty </h1>
<%= link_to "Faculty", faculty_index_path %>
<h1> Student </h1>
<%= link_to "Books", student_index_path %>
</center>
</body>